div.reddit {
    background-color: white;
    width: 700px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: .1px;
    display: center;
    float: left;

}


div.news {
    background-color: white;
    width: 700px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: .1px;
    display: inherit;
}

div.note {
    background-color: white;
    width: 500px;
    height: 200px;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-wrap: inherit;
    scrollbar-color: white;
    scrollbar-track-color: white;

}

div.quote {
    position: center;
}

div.quote.box {
    position: relative;
}




div.reddit::-webkit-scrollbar { width: 0 !important }
div.news::-webkit-scrollbar { width: 0 !important }