

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkgrey;
  color: black;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: darkgrey;
  color: black;
  overflow-x: hidden;
  padding-top: 30px;
  align-items: center;
}


.main {
  display: grid;
  justify-content: space-around;
}